
<center>
<%= render partial: "shared/cards" %>
<h6>Popular posts</h6>
<%= render partial: "shared/nav2" %>
<%= render partial: "shared/info" %>

<div class="boxes">
<div class="card">
  <div class="card-body">
    This is an example post.
  </div>
</div>
</div>


</center>
