<div class="select">
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Top Communities
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">1 <div class="colo">↑ </div>b/css</li>
    <li class="list-group-item">2 <div class="colo">↑ </div> b/britishmemes</li>
    <li class="list-group-item">3 <div class="colo">↑ </div> b/popular</li>
    <li class="list-group-item">4 <div class="cola">↓ </div> b/pigs</li>
    <li class="list-group-item">5 <div class="colo">↑ </div> b/Sheffield</li>
  </ul>
</div>
</div>
</div>