
<nav class="navbar navbar-light bg-light"> <div class ="logo">
<i class="fa-sharp fa-solid fa-robot"></i>
<%= link_to "Beddit", root_path, class:"link-danger"%>
</div>
  
  <div class="dropdown ms-auto">
  <div class="container">
  <form class="container-fluid justify-content-start ml-auto ms-auto">
    <button class="btn btn-outline-primary me-2 rounded-pill" type="button">Log in</button>
    <button class="btn btn-primary rounded-pill" type="button">Sign up</button> 
  </form>
  <button class="btn btn-outline-none dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   <i class="fa-regular fa-user"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-end aria-labelledby="defaultDropdown">
    <li><a class="dropdown-item" href="#">Coins</a></li>
    <li><a class="dropdown-item" href="#"> Explore</a></li>
    <li><a class="dropdown-item" href="#">Settings</a></li>
  </ul>
  </div>
  </form>
</div>
</nav>
</div>
<style>
.container{
   display: flex;

}
</style>